.event-p {
    .page-content {
        h1,
        h2,
        h3 {
            text-transform: uppercase;
        }
        h3 {
            font-size: 28px;
            margin-bottom: 16px;
            margin-top: 40px;
        }
    }
    &__info {
        .stroke-btn {
            margin-top: 20px;
        }
    }
    &__info-sec {
        padding: 0 16px 16px;
        border-bottom: 1px solid var(--border-color);
        margin-bottom: 16px;
        p {
            font-size: 28px;
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__lbl {
        color: var(--gray-color);
        display: block;
        margin-bottom: 12px;
    }
    &__gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-top: 60px;
        .media-cover {
            padding-top: 79.07%;
            border-radius: var(--border-radius);
        }
    }
    @media (min-width: $bp1) {
        .page-content {
            p,
            li {
                font-size: 24px;
            }
        }
    }
    @media (max-width: $bp1) {
        .page-content {
            h3 {
                font-size: 24px;
            }
        }
        &__lbl {
            font-size: 18px;
        }
        &__info-sec {
            p {
                font-size: 24px;
            }
        }
        &__info {
            .stroke-btn {
                margin-top: 10px;
            }
        }
        &__gallery {
            margin-top: 40px;
        }
    }
    @media (min-width: $bp5) and (max-width: $bp4) {
        .page-row {
            grid-template-columns: 1fr 2fr;
            gap: 10px;
            &__sticky {
                position: sticky;
                top: 10px;
            }
            &__content {
                grid-column: 2/3;
            }
        }
    }
    @media (max-width: $bp3) {
        .page-content h3 {
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 12px;
        }
        &__lbl {
            font-size: 16px;
        }
        &__info-sec {
            padding: 0 12px 12px;
            margin-bottom: 12px;
            p {
                font-size: 20px;
            }
        }
    }
    @media (max-width: $bp4) {
        &__gallery {
            grid-template-columns: 1fr 1fr;
            margin-top: 20px;
        }
    }
    @media (min-width: $bp6) and (max-width: $bp5) {
        &__gallery {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (max-width: $bp7) {
        &__info {
            .stroke-btn {
                width: 100%;
            }
        }
    }
}
