.intro {
	position: relative;
	.container {
		height: 100%;
	}
	.media-cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.stroke-btn {
		padding: 16px 50px;
		border-radius: 20px;
		&:after {
			width: 18px;
			height: 18px;
			top: 14px;
			right: 14px;
		}
	}
	&__content {
		min-height: 100dvh;
		padding-top: var(--main-offset);
		padding-bottom: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}
	@media (min-height: 1600px) {
		&__content {
			min-height: 1600px;
		}
	}
	@media (max-width: $bp4) {
		.stroke-btn {
			width: 100%;
			max-width: 355px;
			border-radius: 16px;
			.h4 {
				font-size: 18px;
			}
		}
		&__content {
			padding-bottom: 20px;
		}
	}
	@media (max-width: $bp5) {
		&__content {
			min-height: calc(100vh - 55px);
			padding-bottom: 200px;
		}
	}
}
