.lineup-past {
    overflow: hidden;
    .swiper {
        overflow: visible;
    }
    .swiper-slide {
        background: none;
    }
    &__timeline {
        position: relative;
        &::after {
            content: "";
            width: 150vw;
            height: 1px;
            background: rgba(var(--primary-color-rgb), 0.3);
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
        .swiper-wrapper {
            height: 90px;
            align-items: flex-end;
        }
        .h2 {
            color: var(--gray-color-light);
            cursor: pointer;
            transition: all 0.3s linear;
            white-space: nowrap;
            &:not(:last-child) {
                margin-right: clamp(16px, 12.5vw, 200px);
            }
            &:after {
                content: "";
                width: 16px;
                height: 16px;
                display: block;
                border-radius: 50%;
                background: var(--primary-color);
                transform: translateY(50%);
            }
            &:hover {
                color: var(--gray-color-dark);
            }
            &.active {
                font-size: 90px;
                color: var(--primary-color);
            }
        }
    }
    &__blocks {
        position: relative;
        &::before {
            content: "";
            width: 100vw;
            height: 2px;
            background: var(--primary-color);
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
        .swiper {
            padding: 0 30px;
        }
        .swiper-slide {
            --rotate: 0deg;
            --swing: 2deg;
            transform-origin: top center;
            animation: swing 5s ease-in-out infinite;
            margin-right: 66px;
            &:nth-child(2n + 1),
            &:last-child {
                margin-right: 0;
            }
            &:nth-child(2n + 1) {
                --swing: -2deg;
            }
            &:nth-child(4n + 1) {
                --rotate: 8deg;
            }
            &:nth-child(4n + 2) {
                --rotate: -5deg;
            }
            &:nth-child(4n + 3) {
                --rotate: 5deg;
            }
            &:nth-child(4n + 4) {
                --rotate: -8deg;
            }
        }
    }
    @media (min-width: $bp3) {
        &__timeline {
            margin-left: calc(100% / 12);
        }
    }
    @media (max-width: $bp1) {
        &__timeline {
            .swiper-wrapper {
                height: 72px;
            }
            .h2 {
                &:after {
                    width: 14px;
                    height: 14px;
                }
                &.active {
                    font-size: 72px;
                }
            }
        }
    }
    @media (max-width: $bp3) {
        &__timeline {
            .swiper-wrapper {
                height: 45px;
            }
            .h2 {
                &:after {
                    width: 12px;
                    height: 12px;
                }
                &.active {
                    font-size: 40px;
                }
            }
        }
    }
}
.item-lineup {
    width: 300px;
    padding: 15px;
    border: 2px solid var(--primary-color);
    background: var(--white);
    position: relative;
    margin-top: 45px;
    &:before {
        content: "";
        width: 5.3%;
        aspect-ratio: 0.21;
        display: block;
        background: url(../img/svg/lineup-pin.svg) center bottom / contain no-repeat;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -90%);
    }
    .media-cover {
        padding-top: 100%;
    }
    &__name {
        font-size: 20px;
        color: var(--primary-color);
        line-height: 1.2;
        min-height: 48px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-top: 14px;
    }
    @media (max-width: $bp1) {
        &__name {
            font-size: 14px;
            min-height: 34px;
        }
    }
    @media (max-width: $bp3) {
        width: clamp(174px, 23.43vw, 300px);
        padding: 10px;
        margin-top: clamp(26px, 3.51vw, 45px);
        &__name {
            font-size: 12px;
            min-height: 30px;
        }
    }
}
@keyframes swing {
    0% {
        transform: rotate(calc(var(--rotate) - var(--swing)));
    }
    50% {
        transform: rotate(calc(var(--rotate) + var(--swing)));
    }
    100% {
        transform: rotate(calc(var(--rotate) - var(--swing)));
    }
}
