.modal {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    padding: 40px var(--container-offset);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: auto;
    transition: all 0.3s 0.1s ease-out;
    &.open {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.3s ease-out;
        .modal__content {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.3s 0.1s ease-out;
        }
    }
    .btn-cross.modal__close {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 60px;
        top: 40px;
        z-index: 2;
        &::before,
        &::after {
            height: 4px;
            background: var(--gray-color-dark);
        }
        &:hover {
            &::before,
            &::after {
                background: var(--primary-color);
            }
        }
    }
    &__top {
        padding-right: 40px;
        margin-bottom: 24px;
    }
    &__content {
        width: 100%;
        max-width: 900px;
        padding: 60px 80px;
        margin: auto;
        background: var(--white);
        border-radius: var(--border-radius);
        position: relative;
        overflow: hidden;
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.3s ease-out;
    }
    @media (max-width: $bp1) {
        .form__footer p,
        .item-checkbox input + span {
            font-size: 20px;
        }
    }
    @media (max-width: $bp2) {
        &__content {
            max-width: 759px;
            padding: 40px 60px;
        }
    }
    @media (max-width: $bp4) {
        .btn-cross.modal__close {
            right: 20px;
            top: 20px;
        }
        &__content {
            padding: 20px;
        }
    }
    @media (max-width: $bp5) {
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
            width: 0;
            height: 0;
        }
        .btn-cross.modal__close {
            width: 24px;
            height: 24px;
            &:before,
            &:after {
                height: 2px;
            }
        }
        .form__footer p,
        .item-checkbox input + span {
            font-size: 18px;
        }
        &__top {
            padding-right: 30px;
        }
        &__content {
            padding: 20px var(--container-offset);
        }
    }
    @media (max-width: $bp6) {
        .main-btn--link {
            width: 100%;
        }
    }
}
.success-mod,
.error-mod {
    p {
        font-size: 22px;
        margin-bottom: 40px;
        &:empty {
            margin-bottom: 20px;
        }
    }
    @media (max-width: $bp3) {
        .modal__content {
            max-width: 600px;
            p {
                font-size: 18px;
            }
        }
    }
}
.fancy-modal {
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    background: var(--white);
    .modal__close.btn-cross {
        top: 0 !important;
        right: 0 !important;
    }
    .modal__top {
        h2 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .nav-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &--prev {
            left: -40px;
        }
        &--next {
            right: -40px;
        }
    }
    &__content {
        height: 100%;
        min-height: 200px;
        max-width: var(--content-width);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__mainswiper {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        position: relative;
        .swiper {
            width: 100%;
            height: 100%;
        }
        .swiper-slide,
        .media-contain,
        .media-cover {
            height: 100%;
        }
    }
    @media (max-width: $bp1) {
        padding-left: 30px;
        padding-right: 30px;
        .nav-btn {
            &--prev {
                left: -20px;
            }
            &--next {
                right: -20px;
            }
        }
    }
    @media (max-width: $bp3) {
        padding-left: 20px;
        padding-right: 20px;
        .nav-btn {
            &--prev {
                left: -14px;
            }
            &--next {
                right: -14px;
            }
        }
    }
    @media (max-width: $bp4) {
        padding: 20px;
    }
    @media (max-width: $bp5) {
        .nav-btns {
            justify-content: flex-end;
            margin-top: 10px;
        }
        .nav-btn {
            position: static;
            transform: none;
        }
        .modal__top {
            h2 {
                font-size: 24px;
            }
        }
    }
}
.scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    max-width: 100%;
    height: 3px;
    z-index: 500;
    background: var(--primary-color);
    transition: all 0.5s ease;
    pointer-events: none;
}

.fixed-btn {
    min-width: 0;
    border-radius: 20px;
    position: fixed;
    bottom: 30px;
    right: calc((100vw - var(--content-width)) / 2);
    z-index: 500;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition:
        visibility 0.3s linear,
        opacity 0.3s linear,
        transform 0.3s linear;
    &.show {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }
    .stroke-btn {
        padding: 16px 50px;
        &:after {
            width: 18px;
            height: 18px;
            top: 14px;
            right: 14px;
        }
    }
    @media (min-width: $bp2) and (max-width: 1662px), (min-width: $bp4) and (max-width: 1192px), (min-width: $bp6) and (max-width: 987px), (max-width: 526px) {
        right: var(--container-offset);
    }
    @media (max-width: $bp4) {
        .h4 {
            font-size: 18px;
        }
    }
}
.map-modal,
.mapMobile-modal {
    overflow: hidden;
    .modal__content {
        height: 100%;
        padding: 0;
        background: none;
        border-radius: 0;
    }
}
.map-modal {
    padding: 40px var(--container-offset);
    background: url(../img/map/map-preview.jpg) center / cover no-repeat;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        transition: all 0.3s linear;
    }
    &.open {
        .modal__content {
            transform: scale(1);
            transform-origin: center !important;
            transition:
                transform 0.3s 0.1s ease-out,
                visibility 0.3s 0.1s ease-out,
                opacity 0.3s 0.1s ease-out;
        }
        .btn-cross.modal__close,
        .map-modal__top,
        .map-modal__direction,
        .map-modal__title,
        .map-modal__bottom {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            transition: all 0.5s 0.35s ease-out;
        }
    }
    .modal__content {
        max-width: var(--content-width);
        transform: scale(0);
    }
    .btn-cross.modal__close {
        right: 0 !important;
        top: 20px;
    }
    .btn-cross.modal__close,
    &__top,
    &__bottom {
        visibility: hidden;
        opacity: 0;
        transition: all 0s ease-out;
    }
    &__direction,
    &__title {
        transform: translateY(20px);
    }
    &__top {
        position: absolute;
        top: 0;
        left: 0;
        right: 24px;
        z-index: 1;
    }
    &__direction {
        color: var(--secondary-color);
        max-width: 53%;
    }
    &__title {
        margin-top: 24px;
    }
    &__preview {
        height: 100%;
        padding: 20px 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__link {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    @media (max-width: $bp1) {
        padding: 16px var(--container-offset) 20px;
        .btn-cross.modal__close {
            top: 15px;
        }
        &__title {
            margin-top: 12px;
        }
    }
    @media (max-width: $bp3) {
        .btn-cross.modal__close {
            top: 0px !important;
        }
    }
    @media (max-width: $bp5) {
        .btn-cross.modal__close {
            top: 10px !important;
        }
        &__direction {
            max-width: 100%;
        }
    }
    @media (max-width: $bp6) {
        &__link {
            width: 100%;
        }
    }
}
.mapMobile-modal {
    padding: 0;
    background: url(../img/map/map-layer-1.png) center/cover no-repeat;
    .modal__content {
        max-width: 100%;
        touch-action: pan-x;
        transform: none;
    }
    .btn-cross.modal__close {
        right: var(--container-offset) !important;
        top: 26px !important;
    }
    .map__layers,
    .map__layers-item,
    .map__layers-item img {
        height: 100%;
    }
    &__inner {
        height: 100%;
        position: relative;
        margin: 0 auto;
        will-change: transform;
    }
    &__preview {
        width: 140px;
        border: 1px solid var(--primary-color);
        border-radius: 20px;
        position: absolute;
        bottom: 20px;
        right: var(--container-offset);
        overflow: hidden;
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(239, 239, 239, 0.6);
        }
    }
    &__preview-view {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/map/map-preview.jpg);
        background-size: 140px 100%;
        z-index: 1;
        will-change: transform;
    }
}
.mapMobile-modal.open + .map-modal {
    background: none;
}
